page-conctacts {
    .sideButton{
        width: 50px;
        &-Text{
            margin: 0 !important;
            font-size: smaller;
        }
    }

    ion-searchbar {
        background-color: map-get($colors, primary) !important;
    }
    .searchbar-ios.searchbar-show-cancel.searchbar-has-focus .searchbar-ios-cancel{
        color: white;
    }

    img {
        width: 60px !important;
        height: 60px !important;
    }
}
