<ion-header>

  <ion-navbar text-center color="primary">
    <ion-title>CONTACTOS</ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="inputSearch" [showCancelButton]="true" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"
    placeholder="Buscar contacto..">
  </ion-searchbar>
</ion-header>


<ion-content>
  <ion-card *ngFor="let contact of contacts | favoritesPipe">
    <ion-item>
      <ion-avatar item-start>
        <!-- <img src="assets/contact_M.png"> -->
        <!-- <img *ngIf="c.tmblr !== null" [src]="c.tmblr"> -->
        <img *ngIf="contact.gender === 'F'" src="assets/contact_F.png">
        <img *ngIf="contact.gender === 'M'" src="assets/contact_M.png">
      </ion-avatar>
      <h2>{{ contact.alias }}</h2>
      <p>{{ contact.title }}</p>
    </ion-item>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon color="primary" name="eye"></ion-icon>
          <div>Ver</div>
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button icon-left clear small (click)="setfavorite(contact)">
          <ion-icon *ngIf="contact.isFavorite" color="polify" name="star"></ion-icon>
          <ion-icon *ngIf="!contact.isFavorite" color="polify" name="star-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button icon-left clear small (click)="deleteContact(contact)">
          <ion-icon color="danger" name="trash"></ion-icon>
          <div>Eliminar</div>
        </button>
      </ion-col>

    </ion-row>

  </ion-card>
</ion-content>