page-qr-code {
    .scroll-content {
        position: absolute;
        top: 50px;
        margin-top: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
