<ion-header>

  <ion-toolbar color="primary">
    <ion-title text-center>Editar perfil</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span showWhen="ios">Cancelar</span>
        <ion-icon name="close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>


<ion-content padding *ngIf="person != null">
  <div class="profilePicture row">
    <div>
      <div class="avatar" style="background-image: url(../assets/profilePicture.jpg)"></div>
    </div>

    <div class="profileName">
      <ion-label class="title">{{ person.title }}</ion-label>
      <ion-label color="primary" class="name">{{ person.alias }}</ion-label>
      <ion-label class="title">{{ person.position }}</ion-label>
    </div>
  </div>
  <br>
  <div>
    <ion-list>
      <button ion-button block (click)="showPanel('personal')">
        <ion-icon class="iconpanel" name="body" color="secondary"></ion-icon>
        <ion-label>Personal</ion-label>        
      </button>
      <div *ngIf="visiblePersonalPanel">
        <ion-item required>
          <ion-label color="primary" floating>Tipo Documento</ion-label>
          <ion-select [(ngModel)]="person.tipeDoc" >
            <ion-option value="cc">CC</ion-option>
            <ion-option value="ce">CE</ion-option>
            <ion-option value="ti">TI</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label color="primary" floating>No. Documento</ion-label>
          <ion-input type="number" readOnly="true" placeholder="No. Documento" [(ngModel)]="person.numDoc"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" floating>Nombres</ion-label>
          <ion-input type="text" [(ngModel)]="person.name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" floating>Apellidos</ion-label>
          <ion-input type="text" [(ngModel)]="person.lastname"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" floating>F. Nacimiento</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="person.birthDate"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label color="primary" floating>Edad</ion-label>
          <ion-input type="number" [readonly]="true" [(ngModel)]="person.age"></ion-input>
        </ion-item>

      </div>
      <button ion-button block (click)="showPanel('professional')">
          <ion-icon class="iconpanel" name="briefcase" color="polify"></ion-icon>
          <ion-label>Profesional</ion-label> 
        </button>
      <div *ngIf="visibleProfessionalPanel">
        <ion-item>
          <ion-label color="primary" floating>Título</ion-label>
          <ion-input type="text" [(ngModel)]="person.title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>Empresa</ion-label>
          <ion-input type="text" [(ngModel)]="person.company"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>Nit</ion-label>
          <ion-input type="text" placeholder="Nit" [(ngModel)]="person.companyId"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>Cargo</ion-label>
          <ion-input type="text" [(ngModel)]="person.position"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>F. Ingreso</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="person.admissionDate"></ion-datetime>
        </ion-item>
      </div>
      <button ion-button block (click)="showPanel('contact')">
        <ion-icon class="iconpanel" name="call" color="danger"></ion-icon>
        <ion-label>Contacto</ion-label> 
      </button>
      <div *ngIf="visibleContactPanel" class="contactPanel">
        <ion-item>
          <ion-label color="primary" floating>Teléfono Fijo</ion-label>
          <ion-input type="tel" [(ngModel)]="person.phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>Movil</ion-label>
          <ion-input type="tel" [(ngModel)]="person.movil"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>Email</ion-label>
          <ion-input type="email" [(ngModel)]="person.email"></ion-input>
        </ion-item>
      </div>
      <button ion-button block (click)="showPanel('personalize')">
        <ion-icon class="iconpanel" name="brush"></ion-icon>
        <ion-label>Personalizar</ion-label>        
      </button>
      <div *ngIf="visiblePersonalizePanel">
        <ion-item>
          <ion-label color="primary" floating>Alias</ion-label>
          <ion-input type="text" [(ngModel)]="person.alias"></ion-input>
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>